*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# OSX
.DS_Store

# RubyMine
.idea/*

# Make your own ruby environment
.ruby-gemset
.ruby-version
.rvmrc

# Get your own hipchat_room_message https://github.com/hipchat/hipchat-cli
hipchat_room_message

# Make your own hipchat room config
hipchat_rooms.yml

# Make your own jenkins jobs config
jenkins_jobs.yml
